
.navbar{
    padding: 0%;
    width: 100%;
    background-color: #fa8764; 
    text-decoration: none;
}
.nav:hover{
    text-decoration: none;
}
.navbaritem{
    margin-right: 50px;
    color: aliceblue !important;

}
.navbaritem:hover{
    height: auto;
    background-color: #fa764e;
    color: rgb(156, 156, 255);
    
    
}
.navbarlink{
    background-color: red;
    color: aliceblue !important;
}
.navbarlink:hover{
    background-color: rgb(214, 0, 0);

}
.menusidebar{
    height: auto;
    background-color: #d6a735;
    color: aliceblue !important;
    margin: 0%;
    margin-left: 50px;
    border: none;
}
.menusidebar:hover{
    background-color: rgb(255, 225, 92);
    color: aliceblue !important;
}
.sideheader{
    background-color: #ffef9f;
}
.sidebody{
    background-color: #fffbe6;
}