.document-card {
    width: 8vw; /* Puedes ajustar el tamaño cuadrado según tus necesidades */
    height: 8vw; /* Misma altura que el ancho para que sea cuadrado */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    max-width: 100%; /* Establece el ancho máximo del div */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto si se desborda */
}
.pdfpointer:hover{
    cursor: pointer;
}
.pdfpointer{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor{
    display: flex;
}

.pdf-icon {
    font-size: 5vw;
}
.nombre{
    font-size: 1vw;
}