.body{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contenedor{
    height: 70vh;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border: solid 1px rgb(158, 158, 158);
}
.nuevodoc{
    margin-left: 50px;
}
.contentbot{
    width: 100vw;
    margin-top: 30px;
}
.volver{
    margin-right: 50px;
    
}.content{
    margin-top: 30px;
    margin-left: auto;
    margin-right: 50px;
}

.linkmod{
    margin-left: 20%;
}

.linkven{
    margin-right: 20%;
}